#############################################
#
# Logger config file
#
#############################################

# hostname to listen on, 0.0.0.0 means all.
# hostname = 0.0.0.0

# port number to listen on
# An environment PORT varible will override this setting.
#
# port = 50000

# database connection string
# localhost:27017
database = localhost:27017/logs
